.logout-modal-content {
  align-items: center;
}

.logout-modal-body {
  font-weight: 500;
  font-size: 24px;
  padding: 30px 0;
}

.logout-modal-footer {
  width: 65% !important;
  border-top: none !important;
  justify-content: space-between;
}

.primary-comp,
.grey-comp {
  width: 42% !important;
}
