.page-nav {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  justify-content: space-between;

  .left-contents {
    display: flex;
    align-items: center;
    width: 33%;
  }

  .page-name p {
    margin: 0;
    font-size: 24px;
    font-weight: 500;
    margin-right: 5px;
  }

  .data-per-page {
    padding-bottom: 0;
  }

  .input-group {
    width: 160px !important;
  }

  .input-group-text {
    background-color: #fff !important;
    border: none !important;
  }

  .searcher {
    border: none;
    // height: 36px !important;
  }

  .right-contents {
    display: flex;

    & > div {
      margin: 0 10px;
    }

    .up-btn {
      background-color: $clr-success;
      border: none;
    }
    .down-btn {
      background-color: $clr-alert;
      border: none;
      margin: 0 10px;
    }

    .del-btn {
      background-color: #f06445;
      border: none;
    }

    .create-btn {
      background-color: $clr-primary;
      color: white;
    }
  }
}
