$clr-primary:#6C4D41;
$clr-primary-dark: #3C363B;

$clr-secondary: #E6DFD9;
$clr-secondary-dark: #EDDEDA;

$clr-disable: #F1F1F5;

$clr-error: #f06445;
$clr-error-l: #fff0ed;

$clr-alert: #ffc542;
$clr-alert-l: #fdf4d6;

$clr-success: #b8d935;
$clr-success-l: #f4fbdb;

